extends layout

block content
    - var lang = lg == "en" ? "name_en" : (lg == "es" ? "name_es" : "name");
    #page
        #header
            img(src="/statics/images/logo.png")
        #content.clearfix
            #nav_section_top
                ul.fist_level.clearfix
                    li ABOUT US
                    li PRODUCTS
                        div.category
                            ul.second_level
                                each category,i in categorys
                                    if(lg == "en")
                                        li #{category.name_en}
                                    else if(lg == 'es')
                                        li #{category.name_es}
                                    else
                                        li #{category.name}

                    li NEWS
                    li SOLUTION
                    li CONTACT US
            #banner
                img(src="/statics/images/2.jpg")
            #nav_section_left
                ul
                    each category,i in categorys
                        - var isFirst = i == 0;
                        - var lang = lg == "en" ? "name_en" : (lg == "es" ? "name_es" : "name");
                        li(data-id="#{category.id}" class=isFirst ? "active" : "") #{category[lang]}
            #main
                .productInfo
                    p.tit #{product[lang]}
                    .product_thumb
                        img( src = "http://bestchinamachine.net:3000#{product.bigThumb}")
                    if(lg == "en")
                        - var description = product['descript_en'].replace(/\r/g,"<br>");
                        p.descrit!= description
                    else
                        - var description = product['descript_es'].replace(/\r/g,"<br>");
                        p.descrit!= description
    input(type='hidden' id="currLg" value="#{lg}")
    script(src="/statics/API.js")
    script(src="/statics/js/index.js")